* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Change color on hover */
.sidenav a:hover,
.active, .collapsible:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

.sidenav a,
.collapsible{
  background-color: #111;
  color: white;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  display: block;
  text-decoration: none;
}

/* Style the collapsible content. Note: hidden by default */
.collapse_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #111;
}

.communication_table {
  height: 100px;
  overflow: scroll;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.plan {
  height: 70%;
  width: 50%;
  position: relative;
  text-align: center;
  color: black;
  font-size: 20px;
}

.x1 {
  position: absolute;
  top: 42%;
  left: 32%;
}

.x2 {
  position: absolute;
  top: 44%;
  left: 13%;
}

.x3 {
  position: absolute;
  top: 35%;
  right: 32%;
}

.x4 {
  position: absolute;
  top: 14%;
  left: 24%;
}

.x5 {
  position: absolute;
  top: 14%;
  left: 43%;
}

.fire {
  position: absolute;
  top: 40%;
  left: 50%;
}
